.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 78, 136);
}
.App-link {
  color: #61dafb;
}
.App {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
li {
  list-style-type: none;
  text-align: left;
}
.current-weather li {
  display: flex;
}
current-weather-icon {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
